@charset "UTF-8";

body {
    background-color: rgb(214, 125, 24);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

h1{
    color: rgb(226, 13, 120);
    background-color: rgb(196, 216, 15);
}

h2{
    color: darkred;

}
p {
    text-align: justify;
}
